# Entornos virtuales (¡Pesan mucho y no se suben!)
venv/
.venv/
env/

# Variables de entorno y contraseñas locales
.env
.streamlit/secrets.toml

# Archivos temporales de Python y Mac
__pycache__/
.DS_Store

# Archivos de datos (Opcional: Descomenta la línea de abajo borrando el # si no querés subir los Excel)
# *.xlsx