# Entornos virtuales (¡Pesan mucho y no se suben!)
venv/
.venv/
env/

# Variables de entorno (¡Tus contraseñas y API Keys!)
.env

# Archivos temporales de Python y Mac
__pycache__/
.DS_Store

# Archivos de datos (Opcional: Descomenta la línea de abajo si no quieres subir el Excel)
# *.xlsxvenv/
.streamlit/secrets.toml
__pycache__/
